<h2>New Project</h2>
<%= form_for(@project) do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </p>
  <%= f.submit %>
<% end %>
